* {
  max-width: 1200px;
}

body {
  background-color: black;
}

.firstbew {}

.header {
  position: relative;
  height: 600px;
}

.header_img {
  height: 100%;
  width: 100%;
}

.header_titlle {
  position: absolute;
  top: 5%;
  left: 3%;
  color: white;
  font-size: 22px;
}

.header_nav-ul {
  display: flex;
  position: absolute;
  top: 6%;
  left: 15%;
}

.header_item {
  padding-left: 50px;
  color: white;
  font-size: 15px;
}

.header_mes {
  position: absolute;
  top: 50%;
  left: 10%;
  color: white;
}

.heaser_first-h2 {
  font-size: 60px;
  line-height: 1.5;
  letter-spacing: 3px;
}

.header_p {
  font-size: 22px;
  text-align: center;
}

.firstbew_low {
  width: 100%;
  display: flex;
  position: relative;
}

.first_box {
  width: 34%;
}

.first_box-img {
  width: 100%;
}

.first_box-textarea {
  color: white;
  position: absolute;
  top: 35%;
  margin-left: 10px;
  width: 33%;
}

.first_box-titlle {
  font-size: 26px;
  margin-bottom: 10%;
}

.first_box-p {
  line-height: 30px;
}

.stylearea {
  background: linear-gradient(black, white);
  margin-bottom: 60px;
}

.style_head-h2 {
  color: white;
  background-color: black;
  font-size: 40px;
  margin-top: 50px;
  margin-left: 12%;
}

.warp {
  column-count: 3;
  width: 75%;
  margin: 0 auto;
}


.style_img {
  break-inside: avoid;
  text-align: center;

}

img {
  width: 100%;
  margin-bottom: 40px;
}

.about {
  width: 100%;
  height: auto;
  display: flex;
}

.about_imgarea {
  width: 75%;
  margin-left: 10%;

}

.about_img {
  width: 100%;
}

.about_textarea {
  color: white;
  width: 75%;
  margin-left: 5%;
}

.about_titlle-text {
  font-size: 25px;
  margin-top: 25%;

}

.about_mes-text {
  font-size: 40px;
  margin-top: 5%;
  line-height: 55px;
}

.about_p {
  line-height: 25px;
  margin-top: 5%;
}

button {
  margin-top: 30px;
  display: inline-block;
  background-color: black;
  color: white;
  border: solid 1px white;
  padding: 10px 25px 10px;
}

footer {
  width: 100%;
  height: 60px;
  text-align: center;
  color: white;
}